<ng-template [ngIf]="courses.length > 0">
<div>
  list of course
</div>
</ng-template>

<span
class = "fa"
[ngClass] = "{
    'fa-star':isSelected,
    'fa-star-o':!isSelected
}"
(click) = "onClickAlias()"></span>


<button (click)="onAdd()">add</button>
<ul>
  <li *ngFor="let item of coursesFor; even as isEven">
    {{item.name}}
    <span *ngIf = "isEven">(Even)</span>
    <!-- <button (click) = "onRemove(item)">remove</button> -->
    <button (click) = "onChange(item)">update</button>
  </li>
</ul>

<br>
&nbsp;<button (click) = "loadCourses()">Tampilkan Data</button>
<li *ngFor = "let itemone of coursesForOne; TrackBy:trackCourse">
  {{itemone.nama}}
</li>



<router-outlet></router-outlet>

